@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&display=swap');

html {
  scroll-behavior: smooth;
}

.heighty {
  min-height: 100vh;
  padding: 5rem 5%;
}


.Home-01 {
  min-height: calc(100vh - 95px);
  max-width: 92%;
  margin: 0 auto;
  margin-top: 80px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #b87333cb), url('../img/01.jpg') no-repeat 50% 80%;
  background-size: cover;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
}

.Home-01 h2 {
  font-size: 5rem;
  color: white;
}

.Home-01 p {
  font-size: 1.25rem;
  color: white;
  margin: .5rem 0 1.5rem;
}

.Home-01 a {
  font-size: 1.25rem;
  color: white;
  background: black;
  padding: 1.25rem 2rem;
  border-radius: 2rem;
  font-weight: 900;
}


@media (max-width: 1600px) {
  .Home-01 h2 {
    font-size: 4.5rem;
  }
}


@media (max-width: 900px) {
  .Home-01 h2 {
    font-size: 3rem !important;
    line-height: 1;
  }

  .Home-01 {
    padding: 2rem 1rem;
  }

  .Home-01 p {
    margin: 2rem 0;
  }

  .Home-01 p,
  .Home-01 a {
    font-size: 1.1rem;
  }
}

/* ==================== */

/* Home 02 */

.Home-02 {
  padding: 4rem 0;
  max-width: 92%;
  margin: 0 auto;
  overflow: hidden;
}

.Home-02 h2 {
  /* font-family: "Great Vibes", cursive !important; */
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: -1.5px;
  text-transform: capitalize;
}

.Home-02-card {
  /* background: yellow; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.Home-02-card-A {
  max-width: 32%;
  min-width: 32%;
  overflow: hidden;
}

.Home-02-card-A:hover h3 {
  color: red;
  transition: all .4s ease;
}

.Home-02-card-A img {
  max-height: 30rem;
  min-width: 100%;
  border-radius: 15rem 0 12rem 0;
  object-fit: cover;
  transition: all 1s ease;
  filter: grayscale(2);
}

.Home-02-card-A img:hover {
  border-radius: 0;
  filter: grayscale(0);
  transition: all 1s ease;
}

.Home-02-card-A h3 {
  font-size: 3rem;
  margin: 2rem 0;
  transition: all .4s ease;
}

.Home-02-card-A p {
  font-size: 1.4rem
}


@media (max-width: 1300px) {
  .Home-02 h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .Home-02 h3 {
    font-size: 2rem;
  }

  .Home-02-card-A img {
    max-height: 22rem;
  }

  .Home-02 p {
    font-size: 1.1rem;
  }

}


@media (max-width: 800px) {
  .Home-02 h2 {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
  }

  .Home-02-card {
    flex-direction: column;
  }

  .Home-02-card-A img {
    max-height: 16rem;
    border-radius: 0;
    filter: grayscale(0);
  }

  .Home-02-card-A h3 {
    margin: .5rem 0;
  }

  .Home-02-card-A {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 4rem;
  }

  .Home-02-card-A:last-child {
    margin-bottom: 0;
  }

  .Home-02 {
    padding: 3rem 0 3rem;
  }

}

/* =============================== */
/* Section 03 */

.Home-03 {
  padding: 4rem 0;
  max-width: 92%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home-03-01 {
  min-width: 50%;
  max-width: 50%;
  overflow: hidden;
}

.Home-03-01 h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.Home-03-01 p {
  font-size: 1.25rem;
  text-align: justify;
}

/* .Home-03-02 img {
  max-height: 30rem;
  clip-path: polygon(75% 0%, 75% 53%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
  transition: all 1.2s ease !important;
} */

.Home-03-02 img {
  max-height: 30rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  transition: all 1.2s ease !important;
}


@media (max-width: 1600px) {
  .Home-03-01 {
    min-width: 40%;
    max-width: 40%;
    margin-right: 5%;
  }

  .Home-03-01 h3 {
    font-size: 2.5rem;
  }

  .Home-03-01 p {
    font-size: 1.05rem;
  }

  .Home-03-02 img {
    max-height: 25rem;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
}


@media (max-width: 1200px) {

  .Home-03 {
    flex-direction: column;
    border-top: 1px solid gainsboro;
    padding: 2rem 0 3rem;
  }

  .Home-03-01 {
    min-width: 100%;
    max-width: 100%;
    margin-right: 0%;
  }

  .Home-03-01 h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .Home-03-02 img {
    min-height: 15rem;
    margin-top: 3rem;
    max-width: 100%;
  }

}

/* ========================= */
.news-01 {
  min-height: 40rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15%;
  padding-bottom: 15vh;
  flex-direction: column;
  background: linear-gradient(360deg, white, violet);
}

.news-01 h3 {
  font-size: 2rem;
  color: red;
}

.news-01 h4 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-top: 2rem;
}

.news-02 {
  min-height: fit-content;
}

.news-02 img {
  max-width: 70%;
  margin: -11rem 15% 0rem;
  max-height: 40rem;
  min-height: 40rem;
  border-radius: 1rem;
}

.news-03 {
  padding: 1rem;
  padding-left: 15%;
  max-width: 70%;
  padding-bottom: 5rem;
}

.details-03 h2 {
  font-size: 2rem;
}

.details-03 h4 {
  font-size: 1.25rem;
  color: red;
}

.details-03 h3 {
  font-size: 1rem;
}

.details-03 {
  margin-bottom: 3rem;
}

.blogs-03 p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: justify;
}


/* ===================== */
/* Pages  */

.product-01 {
  min-height: 100vh;
  margin-top: 70px;
  /* background-color: aqua; */
  display: grid;
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Fixed column width */
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 30px;
  transition: all 1s ease !important;
  margin-top: 75px;
  padding: 5rem 10%;
}

.product-01-card {
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 2rem;
}

.product-01-card img {
  object-fit: cover;
  max-height: 15rem;
  min-width: 100%;
  max-width: 100%;
  border-radius: 1rem;
}


.product-01-card:hover {
  color: red;
}
